html {
  position: relative;
  min-height: 100%;
}

/* Preventing header from overlapping main content */
body {
  margin-top: 50px;
  margin-bottom: 160px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffff;
  background-color: #f8f8f8;
  padding-bottom: 10px;
}

.navbar{
  padding-left: 100px;
  padding-right:100px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.brand-img {
  height: 47px;
  border: black
}

.searchEmpButton {
  position: relative;
  bottom: 0;
}

.searchEmpPanel {
  margin-bottom: 30px;
}

#bottomPanel {
  margin-bottom: 100px;
}

.generateReportPanel {
  margin-top: 20px;
}

.tableytable {
  margin-bottom: 30px;
}
