html {
  position: relative;
  min-height: 100%;
}

/* Preventing header from overlapping main content */
body {
  margin-top: 50px;
  margin-bottom: 160px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffff;
  background-color: #f8f8f8;
  padding-bottom: 10px;
}
